apiVersion: apps/v1
kind: Deployment
metadata: 
  name: myapp
specs:
  selector:
    matchLabels:
      app: myapp
   replicas: 3 
   template: 
     metadata:
       labels: 
         app: myapp
     spec: 
       containers:
       - name: myapp
         image: tferrari92/demo-app
         ports:
         - containerPort: 8080
